<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
  </div>
  <div>
    <label for="password">Password:</label>
<!--    <input id="password" type="password" formControlName="password">-->
    <input id="password" formControlName="password">
  </div>

  <button type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>

<div *ngIf="users.length > 0; else noUsers">
  <h2>Registered Users</h2>
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - {{ user.email }} - {{ user.password}}
    </li>
  </ul>
</div>
<ng-template #noUsers>
  <p>No users registered yet.</p>
</ng-template>
